@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>
        California State University, Sacramento<br />
        6000 J Street<br />
        Sacramento, CA 95819<br />
    </p>
</address>

<address>
    <p><strong>Support:</strong>   <a href="mailto:nicolebecker@csus.edu">nicolebecker@csus.edu</a><br /></p>
</address>