@model StudentAttendance.Models.AttendanceViewModel

@{
    ViewBag.Title = "About";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<h2>About The Attendance Tracker</h2>
<p style="text-align:left">This attendance tracker was made for CSC 131 at California State University, Sacramento in Fall 2016 by The Compilers.</p>
<p>The Compilers consists of:</p>
<p>
    Nicole Becker<br />
    Nicole is pursuing a Computer Science degree at Sacramento State University.<br />
    She has been on the Dean’s list, and is also a member of the Association of Computer Machinery.<br />
    She has six months of practical programming experience at a local online retail company, where she worked in Python and Visual Basic, as well as maintained a Microsoft Access Database.<br />
    She also became familiar with working with several third-party APIs and web services, including Google, USPS, UPS, FedEx, Amazon, and eBay.<br />
    Nicole has experience with Java, Python, C, MySQL, and database administration, as well as web design with HTML, CSS, and JavaScript.<br />
</p>
<p style="text-align:left">
    Brandon May<br />
    Brandon is a Computer Science major at CSUS. He currently has experience programming in C, C++, C#,  and Java.<br />
    He has worked in environments such as Visual Studio, NetBeans, & Grails using procedural programming and MVC architecture.<br />
    He also has worked with mapping SQL Server and Oracle databases into the environments using Entity Framework and getting data via queries.
</p>
<p style="text-align:left">
    Gabriel Pimentel<br />
    Gabriel is pursuing a math degree, and a minor in computer science. He has been exposed briefly to Java programming, and R programming.<br />
    Gabriel's strengths include organizing and documenting project ideas to improve teamwork.<br />
    In addition, he is very flexible to accommodate for team needs, and he is great at expressing ideas and asking questions if something is not clear.
</p>
<p style="text-align:left">
    Amanda Reed<br />
    Amanda is a computer science major at the California State University of Sacramento.<br />
    She has been on the Dean’s honor list her entire college experience and is also a member of the schools Association of Computer Machinery club.<br />
    Furthermore, her strengths include programming in Java and C, a borderline obsessive compulsive strive for organization and perfection, and most importantly, an optimist.
</p>