@model StudentAttendance.Models.AttendanceViewModel

@{ 
    ViewBag.Title = "Home Page";
}

<h2>Attendance Sign In</h2>
<p>Professor's Key: @ViewBag.Key</p>
<br />
@using (Html.BeginForm("Updated", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.studentID)
    @Html.TextBoxFor(y => y.userKey)
    <input type="submit" value="Sign In" />
}