@model StudentAttendance.Models.AttendanceViewModel

@{
    ViewBag.Title = "Home Page";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<h2 style="text-align:center">Welcome to Attendance Tracker</h2>